.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/11bc1e99-d5a6-4316-8b3e-5e4878d54e32.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 860px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: Rubik;
  font-weight: 500;
  margin: 404px 39px 0 570px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 0 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 409px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 299px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 299px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 119px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 119px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 13.03% 78.15%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 372px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1rem;
    margin-top: 23px;
    margin-left: 0;
  }
}